<div class="col-lg-8 col-lg-offset-2">
    <h1>{{title}}</h1>
    <div class="jumbotron">
        <p>Disfruta de las publicaciones de tus amigos :)</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button">Timeline</a>
            <a class="btn btn-primary btn-lg" role="button">Mi perfil</a>
            <a class="btn btn-primary btn-lg" role="button">Gente</a>
        </p>
    </div>
</div>