<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Te has identificado correctamente, bienvenido!!
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        No te has identificado correctamente, intentelo de nuevo!!
    </div>
    <form #logInForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">

        <p>
            <label>NickName</label>
            <input type="text" name="nickName" #nickName="ngModel" [(ngModel)]="user.nickName" class="form-control" required>
            <span *ngIf="!nickName.valid && nickName.touched">La contraseņa es obligatoria</span>
        </p>

        <p>
            <label>Contraseņa</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
            <span *ngIf="!password.valid && password.touched">La contraseņa es obligatoria</span>
        </p>
        
        <input type="submit" value="Entrar" class="btn btn-success" [disabled]="!logInForm.form.valid">
    </form>
</div>
