/* You can add global styles to this file, and also import other style files */
/*Generales*/
.h1-strong{
	font-size: 35px;
	font-weight: bold;
	margin-left: 13px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

/*Cabezera*/
.navigation{
	padding: 0px !important;
	.navbar{
		border:none;
		background-color: greenyellow;
		a:hover{
			background-color: #84b735 !important;
		}
		*{
			color: white;
		}
		.dropdown-menu *{
			color: black !important;
		}
		.dropdown-menu a:hover{
			background-color: #eee !important;
		}
	}
}

.active{
	background-color: #84b735;
}

.jumbotron{
	padding: 20px;
	border-radius: 20px;
	text-align: center;
}

.btn{
	margin: 10px;
}

.pointer{
	cursor: pointer;
}